<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
      Grade 2
    </button>
  </h2>
  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <div class="accordion" id="sub-accordionExample">
          <div class="accordion-item">
              <h2 class="accordion-header" id="sub-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sub-collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <strong>Biology</strong>
                  </button>
              </h2>
              <div id="sub-collapseOne" class="accordion-collapse collapse" aria-labelledby="sub-headingOne" data-bs-parent="#sub-accordionExample">
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Evolution</li>
                      <li class="list-group-item">Animal Kingdom</li>
                      <li class="list-group-item">Reptiles</li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header" id="sub-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sub-collapseTwo" aria-expanded="false" aria-controls="sub-collapseTwo">
                      <strong>Chemistry</strong>
                  </button>
              </h2>
              <div id="sub-collapseTwo" class="accordion-collapse collapse" aria-labelledby="sub-headingTwo" data-bs-parent="#sub-accordionExample">
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Atoms</li>
                    <li class="list-group-item">Covalent bonds</li>
                    <li class="list-group-item">Ionic bonds</li>
                  </div>
              </div>
          </div>
      </div>
</div></div>
</div>
